<div class="content box dashboard container">
  <div>
    <div class="card-wrapper">
      <div class="card">
        <div class="card-content">
          <div class="card-header">
            <h1>{{station.name}}</h1>
            <img src="/images/location.png" />
          </div>
          <div class="media-content">
            <p class="subtitle is-6">Lat: {{station.latitude}}</p>
            <p class="subtitle is-6">Lng: {{station.longitude}}</p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-content">

          <h1>Weather</h1>

          <div class="weather-icon">
            {{#if (eq code "Clear")}}
              <img alt="clear" src="/images/sun.png" />
            {{else if (eq code "Partial clouds")}}
              <img alt="partial clouds" src="/images/cloud.png" />
            {{else if (eq code "Cloudy")}}
              <img alt="cloudy" src="/images/cloud-nosun.png" />
            {{else if (eq code "Light Showers")}}
              <img alt="light showers" src="/images/cloudy.png" />
            {{else if (eq code "Heavy Showers")}}
              <img alt="heavy showers" src="/images/rain.png" />
            {{else if (eq code "Rain")}}
              <img alt="rain" src="/images/rain.png" />
            {{else if (eq code "Snow")}}
              <img alt="snow" src="/images/snow.png" />
            {{else if (eq code "Thunder")}}
              <img alt="thunder" src="/images/lightning.png" />
            {{else}}
              N/A
            {{/if}}
          </div>

        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <div class="card-header">
            <h1>Temp</h1>
            <img src="/images/temp.png" />
          </div>
          <div class="card-bottom">
            <div>
              <div>{{temp}}°C</div>
              <div>{{tempF}}°F</div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <div class="card-header">
            <h1>Wind</h1>
            <img src="/images/wind-image.png" />
          </div>
          <div class="card-bottom">
            <div>

              <div>
                {{#if (eq windDirection "N")}}
                  <div>North</div>
                {{else if (eq windDirection "NNE")}}
                  <div>North North East</div>
                {{else if (eq windDirection "NE")}}
                  <div>North East</div>
                {{else if (eq windDirection "ENE")}}
                  <div>East North East</div>
                {{else if (eq windDirection "E")}}
                  <div>East</div>
                {{else if (eq windDirection "ESE")}}
                  <div>East South East</div>
                {{else if (eq windDirection "SE")}}
                  <div>South East</div>
                {{else if (eq windDirection "SSE")}}
                  <div>South South East</div>
                {{else if (eq windDirection "S")}}
                  <div>South</div>
                {{else if (eq windDirection "SSW")}}
                  <div>South South West</div>
                {{else if (eq windDirection "SW")}}
                  <div>South West</div>
                {{else if (eq windDirection "WSW")}}
                  <div>West South West</div>
                {{else if (eq windDirection "W")}}
                  <div>West</div>
                {{else if (eq windDirection "WNW")}}
                  <div>West North West</div>
                {{else if (eq windDirection "NW")}}
                  <div>North West</div>
                {{else if (eq windDirection "NNW")}}
                  <div>North North West</div>
                {{else}}
                  N/A
                {{/if}}
              </div>


              <div>{{windBft}}</div>

            </div>

          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <div class="card-header">
            <h1>Pressure</h1>
            <img src="/images/press-icon.png" />
          </div>
          <div class="card-bottom">
            <div>
              <div>{{pressure}} hpa</div>

          </div>
        </div>
      </div>

    </div>

  </div>

</div>
<table class="table is-fullwidth">

  <thead>
    <tr>
      <th>Date</th>
      <th>Code</th>
      <th>Temperature</th>
      <th>Wind Speed</th>
      <th>Pressure</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    {{#each station.readings}}
      <tr>
        <td>{{date}}</td>
        <td>
          {{code}}
        </td>
        <td>
          {{temp}}
        </td>

        <td>
          {{windSpeed}}
        </td>
        <td>
          {{pressure}}
        </td>
        <td>
          <a type="button" onclick="deleteReading('{{_id}}','{{stationid}}')" class="button is-danger delete-button">
            Delete Reading</a>
        </td>
      </tr>
    {{/each}}

        </td>
  </tbody>
</table>

<script>
  function deleteReading(id, stationid) { 

  fetch(`/station/${stationid}/deletereading/${id}`, { method: "DELETE", headers: { "Content-Type": "application/json",
  } }) .then(response => { if (response.ok) { window.location.href = `/station/${stationid}`; } else {
  console.error("Error deleting reading"); } }) .catch(error => { console.error("Error deleting reading:", error); }); }
</script>