<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/96a4816da6.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="hero is-info is-small header-class mb-6">
      <div class="hero-body">
        <div class="container header-wrapper">
          <p class="title">
            WeatherTop
          </p>
          <nav class="navbar">
            <div class="navbar-menu" id="navMenu">
              {{! <div class="navbar-item"> }}
              <div class="buttons">
                  {{#if loggedInUser}}
                  <a id="user" class="button" href="/user"> Welcome, {{loggedInUser.firstName}} </a>
                <a id="dashboard" class="button" href="/dashboard"> Dashboard </a>
                <a id="about" class="button" href="/about"> About </a>
                  {{else}}
                  <a class="button" id="login" href="/login"> Log in </a>
          <a class="button" id="signup" href="/signup"> Sign up </a>
              </div>    
                  {{/if}}
            </div>
          </nav>

        </div>
      </div>
    </div>
    <section class="main-content">
      <div class="container">
        {{{body}}}
      </div>
    </section>
    <footer class="footer box">
      <div class="content has-text-centered">
        <p>
          <strong>Weathertop</strong>
          &copy; 2023. All rights reserved.
        </p>
        <p>
          Designed with Bulma
        </p>
      </div>
    </footer>

  </body>
</html>
<script>
  document.getElementById("{{active}}").classList.add("is-info");
</script>
