{{!-- {{> menu active="dashboard"}}

<section class="section">
  {{> list-stations}}
  
  {{#each data}}
  <div class="columns is-variable is-1-mobile is-0-tablet is-3-desktop is-8-widescreen is-2-fullhd">
    <div class="column"><div class="card"><h2 class="title">{{name}}</h2></div></div>
  <div class="column"><div class="card">{{code}}</div></div>
  <div class="column"><div class="card">Temperature: {{temp}}°C</div></div>
  <div class="column"><div class="card">Wind chill: {{windChill}}°C </div></div> 
  <div class="column"><div class="card">Wind BFT: {{windBft}}</div></div>
  <div class="column"><div class="card">Pressure: {{pressure}} hpa</div></div>
</div>

{{/each}}

{{> add-station}}
</section> --}}
{{> menu active="dashboard"}}
{{> list-stations}}
  
  {{#each data}}
<div class="content box dashboard container">
    <div>
        <div class="card-wrapper">
            <div class="card">
                <div class="card-content">
                    <div class="card-header">
                        <h1>{{name}}</h1>
                        <img src="/images/location.png"/>
                    </div>
                    <div class="media-content">
                        <p class="subtitle is-6">Lat: {{latitude}}</p>
                        <p class="subtitle is-6">Lng: {{longitude}}</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <h1>Weather</h1>
                    <div class="weather-icon"> 
              {{#if (eq code "Clear")}}
  <img alt="clear" src="/images/sun.png"/>
{{else if (eq code "Partial clouds")}}
  <img alt="partial clouds" src="/images/cloud.png"/>
  {{else if (eq code "Cloudy")}}
  <img alt="cloudy" src="/images/cloud-nosun.png"/>
    {{else if (eq code "Light Showers")}}
  <img alt="light showers" src="/images/cloudy.png"/>
      {{else if (eq code "Heavy Showers")}}
  <img alt="heavy showers" src="/images/rain.png"/>
     {{else if (eq code "Rain")}}
  <img alt="rain" src="/images/rain.png"/>
    {{else if (eq code "Snow")}}
  <img alt="snow" src="/images/snow.png"/>
  {{else if (eq code "Thunder")}}
  <img alt="thunder" src="/images/lightning.png"/>
{{else}}
 N/A
{{/if}}
                    </div>

            </div>
        </div>
            <div class="card">
                <div class="card-content">
                    <div class="card-header">
                        <h1>Temp</h1>
                        <img src="/images/temp.png"/>
                    </div>
                    <div class="card-bottom">
                        <div>
                    <div>{{temp}}°C</div>
                    {{!-- <div>{{Ftemp}}°F</div> --}}
                    {{!-- <div>Max: ${station.maxTemperature}</div>
                    <div>Min: ${station.minTemperature}</div> --}}
                        </div>
                    {{!-- <div class="trend-icon">
                        <i class="fas fa-arrow-up has-text-danger" style="display: ${station.trend == 'Rising' ? 'inline' : 'none'}"></i>
                        <i class="fas fa-arrow-down has-text-success" style="display: ${station.trend == 'Dropping' ? 'inline' : 'none'}"></i>
                    </div> --}}
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <div class="card-header">
                        <h1>Wind</h1>
                        <img src="/images/wind-image.png"/>
                    </div>
                    <div class="card-bottom">
                        <div>

                            {{!-- <div>
                                #{if station.windCompass == 'N'}
                                <div>North</div>
                                #{/if}
                                #{if station.windCompass == 'NNE'}
                                <div>North North East</div>
                                #{/if}
                                #{if station.windCompass == 'NE'}
                                <div>North East</div>
                                #{/if}
                                #{if station.windCompass == 'ENE'}
                                <div>East North East</div>
                                #{/if}
                                #{if station.windCompass == 'E'}
                                <div>East</div>
                                #{/if}
                                #{if station.windCompass == 'ESE'}
                                <div>East South East</div>
                                #{/if}
                                #{if station.windCompass == 'SE'}
                                <div>South East</div>
                                #{/if}
                                #{if station.windCompass == 'SSE'}
                                <div>South South East</div>
                                #{/if}
                                #{if station.windCompass == 'S'}
                                <div>South</div>
                                #{/if}
                                #{if station.windCompass == 'SSW'}
                                <div>South South West</div>
                                #{/if}
                                #{if station.windCompass == 'SW'}
                                <div>South West</div>
                                #{/if}
                                #{if station.windCompass == 'WSW'}
                                <div>West South West</div>
                                #{/if}
                                #{if station.windCompass == 'W'}
                                <div>West</div>
                                #{/if}
                                #{if station.windCompass == 'WNW'}
                                <div>West North West</div>
                                #{/if}
                                #{if station.windCompass == 'NW'}
                                <div>North West</div>
                                #{/if}
                                #{if station.windCompass == 'NNW'}
                                <div>North North West</div>
                                #{/if}
                                #{else}

                                #{/else}
                            </div> --}}
                            <div>Feels like: {{windChill}}°C</div>
                    
                      <div>{{windBft}}</div>
                    {{!-- <div>Max: ${station.maxWindSpeed}</div>
                    <div>Min: ${station.minWindSpeed}</div> --}}
                        </div>
                    {{!-- <div class="trend-icon">
                        <i class="fas fa-arrow-up has-text-danger" style="display: ${station.trend == 'Rising' ? 'inline' : 'none'}"></i>
                        <i class="fas fa-arrow-down has-text-success" style="display: ${station.trend == 'Dropping' ? 'inline' : 'none'}"></i>
                    </div> --}}
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <div class="card-header">
                        <h1>Pressure</h1>
                        <img src="/images/press-icon.png"/>
                    </div>
                    <div class="card-bottom">
                        <div>
                    <div>{{pressure}} hpa</div>
                    {{!-- <div>Max: ${station.maxPressure}</div>
                    <div>Min: ${station.minPressure}</div> --}}
                        </div>
                    {{!-- <div class="trend-icon">
                        <i class="fas fa-arrow-up has-text-danger" style="display: ${station.pressureTrend == 'Rising' ? 'inline' : 'none'}"></i>
                        <i class="fas fa-arrow-down has-text-success" style="display: ${station.pressureTrend == 'Dropping' ? 'inline' : 'none'}"></i>
                    </div> --}}
                    </div>
                </div>
            </div>
        </div>
        <span class="icon">
         <a href="/station/{{_id}}" >
            <i class="fas fa-sharp fa-light fa-folder-open fa-lg" style="color: #302850;"></i>
         </a>
      </span>
        <span class="icon">
      <a href="" >
      <i class="fas fa-trash fa-lg" style="color: #302850;"></i>
      </a>
      </span>
    </div>
</div>
{{/each}}

{{> add-station}}