{{> menu active="dashboard"}}

<section class="section">
  {{> list-stations}}
  {{!-- {{> add-station}} --}}
  {{#each data}}
  <div class="box box-link-hover-shadow">
    <h2 class="title">
      <a href="/station/{{_id}}">
        {{name}}
      </a>
      <div>
        {{testCode}}
      </div>
    </h2>
  </div>
{{/each}}
   {{!-- {{#each test}}
  <div class="box box-link-hover-shadow">
    <h2 class="title">
   {{stationid}}
    </h2>
    <h3>{{code}}</h3>
  </div>
{{/each}} --}}

</section>