{{> menu active="dashboard"}}
{{> list-stations}}
{{#each data}}
{{!-- <div class="{{#if (eq code "Clear")}} has-background-success {{/if}}"> --}}
<div class="content box dashboard container ">
    <div >
        <div class="card-wrapper">
            <div class="card tooltip">
                <div class="station-tooltiptext">{{name}}</div>
                <div class="card-content">
                    <div class="card-header">
                        <h1>{{name}}</h1>
                        <img src="/images/location.png"/>
                    </div>
                    <div class="media-content">
                        <p class="subtitle is-6">Lat: {{latitude}}</p>
                        <p class="subtitle is-6">Lng: {{longitude}}</p>
                    </div>
                </div>
            </div>
            <div class="card weather">
                <div class="card-content">
                    <h1>Weather</h1>
                    <div>{{code}}</div>
                    <div class="weather-icon"> 
              {{#if (eq code "Clear")}}
  <img alt="clear" src="/images/sun.png"/>
{{else if (eq code "Partial clouds")}}
  <img alt="partial clouds" src="/images/cloud.png"/>
  {{else if (eq code "Cloudy")}}
  <img alt="cloudy" src="/images/cloud-nosun.png"/>
    {{else if (eq code "Light Showers")}}
  <img alt="light showers" src="/images/cloudy.png"/>
      {{else if (eq code "Heavy Showers")}}
  <img alt="heavy showers" src="/images/rain.png"/>
     {{else if (eq code "Rain")}}
  <img alt="rain" src="/images/rain.png"/>
    {{else if (eq code "Snow")}}
  <img alt="snow" src="/images/snow.png"/>
  {{else if (eq code "Thunder")}}
  <img alt="thunder" src="/images/lightning.png"/>
{{else}}
 N/A
{{/if}}
                    </div>

            </div>
        </div>
            <div class="card">
                <div class="card-content">
                    <div class="card-header">
                        <h1>Temp</h1>
                        <img src="/images/temp.png"/>
                    </div>
                    <div class="card-bottom">
                        <div>
                    <div>{{temp}}°C</div>

                    <div>{{tempF}}°F</div>
                    <div>Max: {{maxTemp}}°C</div>
                    <div>Min: {{minTemp}}°C</div>

                        </div>
                  <div class="trend-icon">

    <i class="fas fa-arrow-up has-text-danger" style="display: {{#if (eq  tempTrend 'Rising')}}inline{{else}}none{{/if}}"></i>
    <i class="fas fa-arrow-down has-text-success" style="display: {{#if (eq  tempTrend 'Dropping')}}inline{{else}}none{{/if}}"></i>
</div>

                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <div class="card-header">
                        <h1>Wind</h1>
                        <img src="/images/wind-image.png"/>
                    </div>
                    <div class="card-bottom">
                        <div>
                        <div>{{windBft}}</div>
                        {{!-- <div>windDirection:{{windDirection}}</div> --}}
                            <div>
                {{#if (eq windDirection "N")}}
                  <div>North</div>
                {{else if (eq windDirection "NNE")}}
                  <div>North North East</div>
                {{else if (eq windDirection "NE")}}
                  <div>North East</div>
                {{else if (eq windDirection "ENE")}}
                  <div>East North East</div>
                {{else if (eq windDirection "E")}}
                  <div>East</div>
                {{else if (eq windDirection "ESE")}}
                  <div>East South East</div>
                {{else if (eq windDirection "SE")}}
                  <div>South East</div>
                {{else if (eq windDirection "SSE")}}
                  <div>South South East</div>
                {{else if (eq windDirection "S")}}
                  <div>South</div>
                {{else if (eq windDirection "SSW")}}
                  <div>South South West</div>
                {{else if (eq windDirection "SW")}}
                  <div>South West</div>
                {{else if (eq windDirection "WSW")}}
                  <div>West South West</div>
                {{else if (eq windDirection "W")}}
                  <div>West</div>
                {{else if (eq windDirection "WNW")}}
                  <div>West North West</div>
                {{else if (eq windDirection "NW")}}
                  <div>North West</div>
                {{else if (eq windDirection "NNW")}}
                  <div>North North West</div>
                {{else}}
                  N/A
                {{/if}}
              </div>
                            <div>Feels like: {{windChill}}°C</div>
                    
                     
                    <div>Max: {{minWindSpeed}}</div>
                    <div>Min: {{maxWindSpeed}}</div>
                        </div>
                    <div class="trend-icon">
                           <i class="fas fa-arrow-up has-text-danger" style="display: {{#if (eq  windTrend 'Rising')}}inline{{else}}none{{/if}}"></i>
    <i class="fas fa-arrow-down has-text-success" style="display: {{#if (eq  windTrend 'Dropping')}}inline{{else}}none{{/if}}"></i>
                    </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <div class="card-header">
                        <h1>Pressure</h1>
                        <img src="/images/press-icon.png"/>
                    </div>
                    <div class="card-bottom">
                        <div>
                    <div>{{pressure}} hpa</div>
                    <div>Max: {{maxPressure}} hpa</div>
                    <div>Min: {{minPressure}} hpa</div>
                        </div>
                    <div class="trend-icon">
                           <i class="fas fa-arrow-up has-text-danger" style="display: {{#if (eq  pressureTrend 'Rising')}}inline{{else}}none{{/if}}"></i>
    <i class="fas fa-arrow-down has-text-success" style="display: {{#if (eq  pressureTrend 'Dropping')}}inline{{else}}none{{/if}}"></i>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <span class="icon">
         <a class="tooltip" href="/station/{{_id}}" >
            <i class="fas fa-sharp fa-light fa-folder-open fa-lg" style="color: #302850;"></i>
            <span class="tooltiptext">Open station</span>
         </a>
      </span>
        <span class="icon">

<a type="button" class="delete-button tooltip" onclick="deleteStation('{{_id}}')">
                <i class="fas fa-trash fa-lg" style="color: #302850;"></i>
                 <span class="tooltiptext">Delete station</span>
            </a>
      </span>
    </div>
</div>
{{!-- </div> --}}
{{/each}}

<div id="map" style="width: 100%; height: 400px;"></div>

{{> add-station}}
<script>
function deleteStation(stationId) {
   fetch(`/station/${stationId}/deletestation`, {
            method: "DELETE",
            headers: {
                "Content-Type": "application/json",
            },
        })
        .then(response => {
            if (response.ok) {
              
                window.location.href = "/dashboard";
             
                
            } else {
                console.error("Error deleting station");
            }
        })
        .catch(error => {
            console.error("Error deleting station:", error);
        });
     
}

</script>
<script>
 
    let mapArray = {{{mapArray}}}; 

    document.addEventListener("DOMContentLoaded", function () {
        var map = L.map('map').setView(mapArray[0], 11);

        var markers = [];

        // Loop through mapArray to create markers
        mapArray.forEach(coord => {
            markers.push(L.marker(coord));
        });

        var group = L.featureGroup(markers).addTo(map);

        var tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);
    });
</script>