{{> menu}}

<section class="section">
  <div class="title">
    {{station.title}}
  </div>
  {{> list-readings}}
  {{> add-reading}}
  <div>
      {{!-- <div id="detailedInfo" style="display: none;">
    Timezone {{reading.timezone}}  
      pressure {{reading.pressure}}
     windSpeed: {{reading.windSpeed}}
      code: {{reading.code}}
       temp: {{reading.temp}}
     
  </div> --}}

    <a id="generateButton" onclick="generateReading('{{station.id}}')" class="button is-danger delete-button">
      AutoGenerate Reading
    </a>
  </div>

</section>
<script>
  function generateReading(id){
     fetch(`/station/30408d16-6e81-4bf2-bb76-90ebfbce7653/generatereading`, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
        })
        .then(response => {
            if (response.ok) {
              
                window.location.href = "/station/30408d16-6e81-4bf2-bb76-90ebfbce7653";
             
                
            } else {
                console.error("Error deleting station");
            }
        })
        .catch(error => {
            console.error("Error deleting station:", error);
        });
     

  }
</script>

